@media all and (min-width:320px) and (max-width:767px){
.bra_1{ width:100%;
		}
.top_logo{  width:100%;
		   height:200px;
		   background:url(../img/brand/main_1.png) center center no-repeat;
		   background-size:100% 200px;}
.top_logo>h3{ font-size:20px;
			  margin-left:8%;
			  color:#666;
			  width:300px;
			  padding-top:50px;
			  margin-top:50px;
			  width:130px;}
.top_logo p{ text-align:left;
			 font-size:10px;
			 margin-left:8%;
			 margin-top:20px;}
.ma_bg{ width:100%;
		height:400px;
		background:url(../img/brand/main.jpg) center center no-repeat;
		background-size:100% 300px;
		position:relative;
		}
.white{ width:94%;
		height:270px;
		background:#FFF;
		opacity:0.5;
		position:absolute;
		top:19%;
		left:3%;}
.ma_bg p{ position:absolute;
		  top:24%;
		  left:4%;
		  font-size:10px;
		  line-height:26px;
		  font-weight:300;
		  letter-spacing:-1px;} 
.tex{ width:100%;
	  height:250px;}
.tex>ul{ width:100%;
		 padding:30px 0;}
.tex>ul>li{ width:30%;
			float:left;
			margin-right:10px;
			margin-bottom:20px;
			}
.big>li>img{ width:80px;
		  height:80px;}
.te{ margin-top:10px;}
.te>li{ width:100px;
		 text-align:center;
		 line-height:15px;
		 font-size:10px;}
		 
.bold{ font-weight:600;
		padding-bottom:20px;}
.tex>ul>li:last-child{ margin-right:0;}
address{ clear:both;
		 font-style:normal;
		  font-size:10px;
		  padding-top:15px;
		  text-align:center;}
.tex>p{ font-size:8px;
		text-align:center;}
		
.map{ width:100%;}	  
/**/
#wrap{ width:100%;
	   margin:auto;
	   position:relative;
	   display:none;}
#wrap>ul{ width:100%;
	margin:auto;
	position:absolute;
}
#wrap>ul>li{ width:50px;
	font-size:13px;
	font-weight:900;
	float:left;
	color:#ddd;
	position:absolute;
		top:-300px;
		left:1px;}     
 }
@media all and (min-width:768px) and (max-width:1024px) {
.bra_1{ width:100%;
		}
.top_logo{  width:100%;
		   height:400px;
		   background:url(../img/brand/main_1.png) center center no-repeat;
		   background-size:100% 400px;}
.top_logo>h3{ font-size:30px;
			  margin-left:8%;
			  color:#666;
			  width:300px;
			  padding-top:150px;
			  margin-top:50px;
			  width:180px;}
.top_logo p{ text-align:left;
			 font-size:15px;
			 margin-left:8%;
			 margin-top:20px;}
.ma_bg{ width:100%;
		height:600px;
		background:url(../img/brand/main.jpg) center center no-repeat;
		background-size:100% 500px;
		position:relative;
		}
.white{ width:80%;
		height:350px;
		background:#FFF;
		opacity:0.5;
		position:absolute;
		top:20%;
		left:10%;}
.ma_bg p{ position:absolute;
		  top:20%;
		  left:19%;
		  font-size:15px;
		  line-height:35px;
		  font-weight:300;
		  letter-spacing:-1px;} 
.tex{ width:100%;
	  height:250px;
	  text-align:center;}
.tex>ul{ width:600px;
		 padding:30px 0;
		 margin:auto;}
.tex>ul>li{ width:200px;
			float:left;}
.big>li>img{ width:100px;
		  height:100px;}
.te{ margin-top:10px;}
.te>li{ width:180px;
		 text-align:center;
		 line-height:20px;
		 font-size:15px;}
		 
.bold{ font-weight:600;
		padding-bottom:20px;}
.tex>ul>li:last-child{ margin-right:0;}
address{ clear:both;
		 font-style:normal;
		  font-size:13px;
		  padding-top:15px;
		  text-align:center;}
.tex>p{ font-size:12px;
		text-align:center;}
		
.map{ width:100%;}	  
/**/
#wrap{ width:100%;
	   margin:auto;
	   position:relative;
	   display:none;}
#wrap>ul{ width:100%;
	margin:auto;
	position:absolute;
}
#wrap>ul>li{ width:50px;
	font-size:13px;
	font-weight:900;
	float:left;
	color:#ddd;
	position:absolute;
		top:-300px;
		left:1px;}     
	  
/**/
#wrap{ width:80%;
	   margin:auto;
	   position:relative;
	   margin-left:85px;}
#wrap>ul{ width:80%;
	margin:auto;
	position:absolute;
}
#wrap>ul>li{ width:5%;
	font-size:50px;
	font-weight:900;
	float:left;
	color:#ddd;
	position:absolute;
		top:-300px;
		left:1px;}    
}
@media all and (min-width:1025px) {
.bra_1{ width:100%;
		}
.top_logo{  width:90%;
	    margin-left:10%;
		   height:400px;
		   background:url(../img/brand/main_1.png) right no-repeat;
		   background-size:100% 500px;
		   padding-top:250px;
		  }
.top_logo>h3{ font-size:50px;
			  margin-left:350px;
			  color:#666;
			  width:300px;
			  margin-top:50px;
			}
.top_logo p{ text-align:left;
			 margin-left:350px;
			 margin-top:50px;}
.ma_bg{ width:70%;
		height:788px;
		left:360px;
		background:url(../img/brand/main.jpg) center center no-repeat;
		position:relative;
		}
.white{ width:750px;
		height:450px;
		background:#FFF;
		opacity:0.5;
		position:absolute;
		top:20%;
		left:19%;}
.ma_bg p{ margin-left:13%;
		  position:absolute;
		  top:24%;
		  left:15%;
		  font-size:16px;
		  line-height:40px;
		  font-weight:300;} 
.tex{ width:80%;
	  margin-left:13%;
	  height:300px;}
.tex>ul{ width:76%;
		 margin-left:20%;
		 padding:50px;}
.tex>ul>li{ width:150px;
			float:left;
			margin-right:150px;
			margin-bottom:20px;}
.te{ margin-top:20px;}
.te>li{ width:200px;
		 text-align:center;
		 line-height:30px;}
		 
.bold{ font-weight:600;
		padding-bottom:20px;}
.tex>ul>li:last-child{ margin-right:0;}
address{ clear:both;
		  font-style:normal;
		  font-size:14px;
		  margin-left:28%;}
.tex>p{ font-size:12px;
		margin-left:42%;}
		
.map{ width:87%;
	  margin-left:13%;}
	  
/**/
#wrap{ width:80%;
	   margin:auto;
	   position:relative;
	   margin-left:85px;}
#wrap>ul{ width:80%;
	margin:auto;
	position:absolute;
}
#wrap>ul>li{ width:5%;
	font-size:50px;
	font-weight:900;
	float:left;
	color:#ddd;
	position:absolute;
		top:-300px;
		left:1px;}     
}

