@media all and (min-width:320px) and (max-width:767px){
 .intro{ width:100%;
		height:100%;
		background:url(../img/intro/main_.png);
		background-size:100% 100%;
		position:fixed;
		left:0;
		top:0;
		z-index:9000;}
.intro_logo>img{ width:200px;
			 margin:auto;
			 position:absolute;
			 top:20%;
			 left:80%;
			 margin-left:-200px;}
.intro_scroll>a>img{ width:20px;
			   margin:auto;
			   position:absolute;
			   bottom:15%;
			   left:50%;
			   margin-left:-15px;}
.intro_scroll p{ color:#FFF;
				 display:none;}
.intro>ul{ width:100%;
		   background:#FFF;
		   height:50px;
		   line-height:50px;
		   margin:auto;
		   position:absolute;
		   bottom:0;}
.intro>ul>li{ float:left;
				width:33%;
				text-align:center;}
.intro>ul>li>a{ color:#000;
				font-size:12px;}    
.intro_scroll>p{ opacity:0;}
 }
@media all and (min-width:768px) and (max-width:1024px) {
 .intro{ width:100%;
		height:100%;
		background:url(../img/intro/main_.png);
		background-size:100% 100%;
		position:fixed;
		left:0;
		top:0;
		z-index:9000;}
.intro_logo>img{ width:200px;
			 margin:auto;
			 position:absolute;
			 top:20%;
			 left:63%;
			 margin-left:-200px;}
.intro_scroll>a>img{ width:20px;
			   margin:auto;
			   position:absolute;
			   bottom:15%;
			   left:50%;
			   margin-left:-15px;}
.intro_scroll p{ color:#FFF;
				 display:none;}
.intro>ul{ width:100%;
		   background:#FFF;
		   height:50px;
		   line-height:50px;
		   margin:auto;
		   position:absolute;
		   bottom:0;}
.intro>ul>li{ float:left;
				width:33%;
				text-align:center;}
.intro>ul>li>a{ color:#000;
				font-size:12px;}    
.intro_scroll>p{ opacity:0;}
     
}
@media all and (min-width:1025px) {
 .intro{ width:100%;
		height:100%;
		background:url(../img/intro/main_.png);
		position:fixed;
		left:0;
		top:0;
		z-index:9000;}
.intro_logo{ width:400px;
			 margin:auto;
			 position:absolute;
			 top:20%;
			 left:50%;
			 margin-left:-200px;}
.intro_scroll{ width:30px;
			   margin:auto;
			   position:absolute;
			   bottom:15%;
			   height:100px;
			   left:50%;
			   margin-left:-15px;}
.intro_scroll p{ color:#FFF;
				 display:none;}
.intro>ul{ width:100%;
		   background:#FFF;
		   height:50px;
		   line-height:50px;
		   margin:auto;
		   position:absolute;
		   bottom:0;}
.intro>ul>li{ float:left;
				width:33%;
				text-align:center;}
.intro>ul>li>a{ color:#000;}    
}


